/* error page */
.image {
    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 500px;
    width: 100%;
}

/* option page*/
:root {
    --font1-color: #2262da;
}
.number {
    padding: 0.2rem;
    border-radius: 1rem;
    background-color: rgba(0, 247, 255, 0.171);
    color: rgb(20, 118, 209);
}
.span {
    border-right: 1px solid rgba(181, 226, 213, 0.349);
}
.list {
    border-right: 1px solid rgba(36, 41, 39, 0.349);
}
.info {
    border-radius: 2rem;
    background-color: rgba(0, 255, 255, 0.062);
    padding: 6px;
}
.check{
    cursor: pointer;
}
.user {
    border-radius: 50px;
    color: rgba(72, 155, 161, 0.438);
    background-color: rgba(0, 255, 255, 0.116);
}

.link:hover {
    background-color: aqua;
    border-radius: 10px;
}
.link:active {
    background-color: aqua;
    border-radius: 10px;
}
.font {
    color: rgb(132, 60, 214) !important;
}
.number {
    padding: 0.2rem;
    border-radius: 1rem;
    background-color: rgba(44, 59, 59, 0.103);
    color: rgba(5, 5, 5, 0.884);
}
.number1 {
    padding: 0.2rem;
    border-radius: 1rem;
    background-color: rgba(44, 59, 59, 0.075);
}
.itemdrop {
    background-color: rgba(0, 255, 255, 0.116) !important;
    color: rgb(132, 60, 214) !important;
    .number {
        padding: 0.2rem;
        border-radius: 1rem;
        background-color: rgba(129, 0, 250, 0.123);
        color: rgba(59, 8, 180, 0.747);
    }
}
.user {
    border-radius: 50px;
    color: rgba(72, 155, 161, 0.438);
    background-color: rgba(0, 255, 255, 0.116);
}
.td1 {
    padding: 0.2rem 0.2rem 0.2rem 0.2rem;
    border-radius: 1rem;
    background-color: #22dab233;
}
.td2 {
    padding: 0.3rem 0.5rem 0.3rem 0.4rem;
    border-radius: 1rem;
    background-color: #da9a2233;
}


/* Candidate pofile page */
.answer {
    background-color: #2262da27;
    border-radius: 50px;
    color: rgba(162, 41, 192, 0.404);
}
