.image {
    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 500px;
    width: 100%;
}
.cover {
    background-color: rgba(0, 255, 255, 0.048);
}