.link:hover {
    background-color: aqua;
    border-radius: 10px;
}
.link {
    cursor: pointer;
}
.user {
    border-radius: 50px;
    color: rgba(72, 155, 161, 0.438);
    background-color: rgba(0, 255, 255, 0.116);
}
.info {
    border-radius: 2rem;
    background-color: rgba(0, 255, 255, 0.062);
    padding: 6px;
}