.link {
    background-color: rgba(255, 255, 255, 0);
}


.navLink:hover {
    background-color: rgba(130, 0, 252, 0.349);
    padding: 10px;
    border-radius: 50px;
    color: rgba(255, 251, 0, 0.966);
}


/* Candidate pofile page */
.shortanswer {
    background-color: rgba(241, 205, 4, 0.397);
    border-radius: 50px;
}

.answer {
    background-color: #2262da27;
    color: #2262dac2;
}
.video {
    background-color: #9eb8ff46;
    border-radius: 50px;
    color: #9EB8FF;
}
.number {
    background-color: #e48a8e3b;
    color: #E48A8F;
}
.multiple {
    background-color: #d2ffc5ce;
    border-radius: 50px;
    color: #44a726;
}
.li {
    background-color: #9eb8ff46;
    border-radius: 50px;
    color: #9EB8FF;
}
.drop {
    background-color: #82e0ff71;
    border-radius: 50px;
    color: #73cae7;
}
.active {
    background-color: #087b2e28;
    border-radius: 50px;
    border: 1px solid #00000031;
    color: #087B2F;
}
.disqualified {
    background-color: #fc402b33;
    border-radius: 50px;
    border: 1px solid #00000031;
    color: #FC402B;
}